.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

.text-button {
  text-decoration: none;
}

.textForm {
  text-decoration: none;
}
